h1{
	text-align: center;
	font-size:55px;
	color: #8A2BE2;

}
h3{
	font-size: 30px;
}

abbr{
	font-style: bold;
	
	color: green;
}
i{
	font-size: 20px;
}

.bg_blue{

	background-color: #7ac9e3 ;
}
.border{
	border: 10px solid #7ac9e3;
}
#descrip{

	font-size: 18px;
	background-color: #8FBC8F;
	border: 20px solid #8FBC8F; 

}

.text_color{
	font-size: 18px;
	font-style: italic;
	color: #CD5C5C;
}
#change_color{
	font-size: 18px;
	font-style: italic;
	color: #9370DB;

}
.big{
	font-size: 40px;
	color: #6B8E23;
}

#blockquote{
	font-size: 22px;
	font-style: italic;
	color: #A52A2A;
}
#button{
	background-color: #4CAF50;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
}
